<div class="card mb-3">
              
            <div class="card-body">
              <h5 class="card-title">Karte: {{id}}</h5>
              <p class="card-text">{{question}}</p>
              <p class="card-text">
                <small class="text-muted">
                  Dise Karte ist: {{#if public}} öffentlich {{else}} privat {{/if}}
                </small>
              </p>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Zeige Antwort
            </button>
            
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                {{answer}}
              </div>
              <div class="col justify-content-md-center">
                  <div class="col-md-auto">
                  <button type="button" class="btn btn-success btn-lg">Richtig beantwortet</button>
                  <button type="button" class="btn btn-danger btn-lg">Falsch beantwortet</button>
                  <a href="#">Überspringen</a>
                  </div>
              </div>
            </div>
          </div>